body {
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.goal{
    color: #fff;
    font-weight: 600
}

.our-plans{
    color: #D1204B;
    font-weight: 600
}
/* Where nav style started  */

.dropdown {
    position: relative;
    display: inline-block;
    vertical-align: left;
    overflow-y: auto
}


.navbar {
    justify-content: space-between;
    font-size: 18px;
    padding: 0 7%;
    position: absolute;
}

.navbar-collapse {
    justify-content: flex-end;
    font-family: 'Montserrat', sans-serif;
}

.dropdown {
    position: fixed;
    display: inline-block;
    vertical-align: left;
    overflow-y: auto
}

.nav-item {
    margin: auto 5px;
}

.nav-item a {
    border-radius: 2px soilid transparent;
}

.nav-item a:hover {
    border-bottom: 2px solid #FFFFFF;
}

.navbar-toggler {
    margin-right: 20px;
    padding-right: 10px;
    height: 30px !important;
    width: 30px !important;
    display: flex;
    flex-direction: column;
    outline: none !important;
}

.navbar-toggler:hover {
    border-color: none;
}

.navbar-toggler span {
    margin: 2px 0;
    height: 3px !important;
    background-color: #ffffff !important;
}

.first_Nav {
    width: 25px;
}

.second_Nav {
    width: 23px;
}

.third_Nav {
    width: 20px;
}

.active {
    font-weight: 600;
    color: #FFDE2F;
}

.logo_text {
    font-family: 'Ruslan Display', cursive;
    font-size: 36px;
    color: #FFFFFF !important;
}

.nav-link {
    color: #FFFFFF !important;
}




/* End of Navigation stype */

.section-pad {
    padding: 5vh 0 5vh 10vw;
}

.p-heading {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #404040;
}

.section-pad span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;
    /* identical to box height */
    color: #D1204B;
}

.goals__section_hero {
    background: url(../img/laugh.jpg);
    /* background-repeat: no-repeat; */
    background-repeat: repeat-x;
}

.hero {
    /* position: relative; */
    background: url(../img/hero.png);
    /* */
    background-position: center;
}

.contact__hero {
    background: url(../img/contactus\ img.jpg);
    background-size: cover;
}

.contact__hero p {
    width: 80%;
    margin-bottom: 5vh;
}

.contact__hero h4 {
    color: #D1204B;
    font-weight: 600;
}

.contact__hero-overlay {
    background: rgba(0, 0, 0, 0.5);
}

.hero .btn {
    color: #fff;
}

.col-spacing {
    margin-top: 15vh;
    padding: 10vh 10vw;
}

.hero span {
    color: #fff;
    padding-left: 2vw;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.btn-hero {
    background: #D1204B;
}

.btn-mail {
    background: #D1204B;
    color: #fff;
    padding-left: 2vw;
    padding-right: 2vw;
}

.hero h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 10vh;
}

.hero p {
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
}


.hero .container {
    padding-top: 30vh;
    padding-bottom: 40vh;
}

.hero-overlay {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 7.41%, rgba(77, 77, 77, 0.5) 66.67%, rgba(247, 244, 232, 0.5) 100%);
}

.btn-margin{
    margin-top: 20px;
}



.goals__section {
    /* padding: 15vh 0; */
    background: url(../img/laugh.jpg);
    /* background-repeat: no-repeat; */
    background-repeat: repeat-x;
    /* background: rgba(209, 32, 75, 0.7); */
    /* background: linear-gradient(to right, rgba(rgba(209, 32, 75, 0.7), 0.9), rgba(rgba(209, 32, 75, 0.7), 0.3)), lighten(#000, 70%); */
}

.goals__section .container {
    padding-top: 15vh;
    padding-bottom: 15vh;
}

.layer {
    background: rgba(209, 32, 75, 0.7);
}

.goals__section h4 {
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 3vh;
}

.goals__section p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #FFDE2F;
    margin-bottom: 5vh;
}

.contact__details {
    padding: 10vh 10vw;
    background: #FFF2F5;
}

.contact__details .card {
    border: none;
    background: transparent;
}

.contact__details p {
    width: 65%;
    margin-bottom: 5vh;
}

.contact__details li {
    line-height: 1.8;
}

.contact__details h3 {
    color: #D1204B;
}

.contact__details li {
    list-style: none;
}

.gray-bg {
    background: #F3F2ED;
    padding: 10vh 6vw;
}

.gray-bg .card {
    border: none;
    background: #fff;
}

.gray-bg p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    text-align: center;
    color: #404040;
}

.gray-bg h4 {
    color: #D1204B;
}

.gray-bg .card-title {
    color: #D1204B;
}

.causes__section {
    background: #FFFDF2;
    padding: 10vh 6vw;
}

.causes__section .card {
    border: none;
    box-shadow: 1px 3px 6px rgba(114, 97, 11, 0.1);
}

.causes__section .progress {
    width: 90%;
    margin-bottom: 3vh;
    background: #FFFFFF;
    border: 0.5px solid #D1204B;
    box-sizing: border-box;
    border-radius: 2px;
}

.causes__section span {
    margin: 5vh 9vw;
}

.causes__section a {
    padding: 10px 20px;
}

.causes__section h2 {
    color: #404040;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    padding-bottom: 4rem;
}

.form__section {
    background: #FFDE2F;
    text-align: center;
    padding: 10vh 0;
    /* align-content: center; */
}

.form__section h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #D1204B;
}

.form__section p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
}

.form__section form {
    padding-top: 5vh;
    text-align: center;
}

footer {
    padding: 5vh 10vw;
    background: #360C16;
}

footer li {
    color: #BDBDBD;
    list-style-type: none;
    line-height: 2.0;
}

footer h4 {
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 12px !important;
}

@media (max-width: 575px) {
    .contact__details {
        padding: 10vh 0vw;
    }
    .form__section p {
        font-size: 23px;
        line-height: 30px;
    }
    .hero p {
        font-size: 32px;
        line-height: 40px;
    }
    .hero .container {
        padding-bottom: 28vh;
    }
    .gray-bg {
        padding: 10vh 0vw;
    }
    .gray-bg p {
        font-size: 35px;
    }
    .section-pad {
        padding: 5vh 0 5vh 0vw;
    }
    .goals__section p {
        font-size: 24px;
        line-height: 24px;
    }
    .causes__section {
        padding: 10vh 0vw;
    }
    footer {
        padding: 5vh 2vw;
    }
}
