.about-us{
   
    background-image: url("../img/Bg.jpg");
    background-size: cover;
    width: 100%;
    height: 500px;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;

}
.container{
    width:100%;
    margin-right:100% !important;
    padding-right:10px !important;
}


body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height:200%;
}

.navbar {
    justify-content: space-between;
    font-size: 18px;
    padding: 0 7%;
    position: absolute;
}

.navbar-collapse {
    justify-content: flex-end;
    font-family: 'Montserrat', sans-serif;
}

.nav-item {
    margin: auto 5px;
}

.nav-item a {
    border-radius: 2px soilid transparent;
}

.nav-item a:hover {
    border-bottom: 2px solid #FFFFFF;
}

.navbar-toggler {
    margin-right: 20px;
    padding-right: 10px;
    height: 30px !important;
    width: 30px !important;
    display: flex;
    flex-direction: column;
    outline: none !important;
}

.navbar-toggler:hover {
    border-color: none;
}

.navbar-toggler span {
    margin: 2px 0;
    height: 3px !important;
    background-color: #ffffff !important;
}

.first_Nav {
    width: 25px;
}

.second_Nav {
    width: 23px;
}

.third_Nav {
    width: 20px;
}

.active {
    font-weight: 600;
    color: #FFDE2F;
}

.logo_text {
    font-family: 'Ruslan Display', cursive;
    font-size: 36px;
    color: #FFFFFF !important;
}

.nav-link {
    color: #FFFFFF !important;
}



.alignment{
padding-top: 30px;
}
.head-text{
    font-size: 36px;
    color: #D1204B !important;
    
}
.body-text{
    font-size: 20px;
    background-color: #FFF2F5;

}
.row{
    background-color: #FFF2F5;
    line-height:200%;
    height: 475px;
    left: 0px;
    top: 1538px;
}    

footer {
    padding: 5vh 10vw;
    background: #360C16;
}

footer li {
    color: #BDBDBD;
    list-style-type: none;
    line-height: 2.0;
}

footer h4 {
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 12px !important;
}
.para-text{
font-size: 36px;
line-height: 27px;
}

@media(max-width: 850px){
    .header-content{
        font-size: 0.5em;
        top: 35%;
        width: 60%;
    }

    .about-us{
        background-size: fill;
        width: 90%;
    
    }

    .body-text{
        height: 250px;
        width:100%;
        font-size:0.5em;
    }
    .head-text{
        font-size: 0.6em;
    }
}