body {
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}


/* Where nav style started  */

.navbar {
    justify-content: space-between;
    font-size: 18px;
    padding: 0 7%;
    position: relative;
}

.navbar-collapse {
    justify-content: flex-end;
    font-family: 'Montserrat', sans-serif;
}

.nav-item {
    margin: auto 5px;
}

.nav-item a {
    border-radius: 2px soilid transparent;
}

.nav-item a:hover {
    border-bottom: 2px solid #FFFFFF;
}

.navbar-toggler {
    margin-right: 20px;
    padding-right: 10px;
    height: 30px !important;
    width: 30px !important;
    display: flex;
    flex-direction: column;
    outline: none !important;
}

.navbar-toggler:hover {
    border-color: none;
}

.navbar-toggler span {
    margin: 2px 0;
    height: 3px !important;
    background-color: #ffffff !important;
}

.first_Nav {
    width: 25px;
}

.second_Nav {
    width: 23px;
}

.third_Nav {
    width: 20px;
}

.active {
    font-weight: 600;
}

.logo_text {
    font-family: 'Ruslan Display', cursive;
    font-size: 36px;
    color: #FFFFFF !important;
}

.nav-link {
    color: #FFFFFF !important;
}


/* End of Navigation stype */

.goals__section {
    padding: 15vh 0;
    background: rgba(209, 32, 75, 0.7);
}

.goals__section h4 {
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 3vh;
}

.goals__section p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #FFDE2F;
    margin-bottom: 5vh;
}

.contact__details {
    padding: 10vh 10vw;
}

.contact__details h3 {
    color: #D1204B;
}

.contact__details li {
    list-style: none;
}

.gray-bg {
    background: #F3F2ED;
    padding: 10vh 6vw;
}

.gray-bg .card {
    border: none;
    background: #fff;
}

.gray-bg p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    text-align: center;
    color: #404040;
}

.gray-bg h4 {
    color: #D1204B;
}

.gray-bg .card-title {
    color: #D1204B;
}

.causes__section {
    background: #FFFDF2;
    padding: 10vh 6vw;
}

.causes__section .card {
    border: none;
    box-shadow: 1px 3px 6px rgba(114, 97, 11, 0.1);
}

.causes__section .progress {
    width: 90%;
    margin-bottom: 3vh;
    background: #FFFFFF;
    border: 0.5px solid #D1204B;
    box-sizing: border-box;
    border-radius: 2px;
}

.causes__section span {
    margin: 5vh 9vw;
}

.causes__section a {
    padding: 10px 20px;
}

.causes__section h2 {
    color: #404040;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    padding-bottom: 4rem;
}

.form__section {
    background: #FFDE2F;
    text-align: center;
    padding: 10vh 0;
    /* align-content: center; */
}

.form__section h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #D1204B;
}

.form__section p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
}

.form__section form {
    padding-top: 5vh;
    text-align: center;
}

footer {
    padding: 5vh 10vw;
    background: #360C16;
}

footer li {
    color: #BDBDBD;
    list-style-type: none;
    line-height: 1.5;
}

footer h4 {
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 12px !important;
}
